<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuanLyBanHang_Winform_Basic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLyBanHang_Winform_Basic.Properties.Settings.C__REPOS_ULTITY_QUANLYBANHANG_WINFORM_BASIC_QUANLYBANHANG_MDFConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=C:\REPOS\ULTITY\QUANLYBANHANG_WINFORM_BASIC\QUANLYBANHANG.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <QuanLyBanHang_Winform_Basic.Properties.Settings>
      <setting name="QLBHConnectionString" serializeAs="String">
        <value>Data Source=.\sqlexpress;Initial Catalog=C:\REPOS\ULTITY\QUANLYBANHANG_WINFORM_BASIC\QUANLYBANHANG.MDF;Integrated Security=True</value>
      </setting>
    </QuanLyBanHang_Winform_Basic.Properties.Settings>
  </applicationSettings>
</configuration>