body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 80%;
    background: #9bccd2;
}

#menu_top {
    height: 30px;
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#menu {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

    #menu ul {
        list-style: none;
        margin: 0;
        padding-top: 7px;
        padding-left: 0;
    }

        #menu ul li {
            float: left;
            margin: 0;
        }

            #menu ul li a {
                padding-right: 20px;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }

                #menu ul li a:hover {
                    color: yellow;
                    text-decoration: underline;
                }

#main_content {
    width: 1000px;
    margin: 30px auto;
}

#right_content {
    float: right;
    width: 330px;
    background: white;
    border: 2px solid #0a3c42;
    box-shadow: 5px 5px 5px #808080;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

#content {
    float: left;
    width: 650px;
    background: white;
    border: 2px solid #0a3c42;
    box-shadow: 5px 5px 5px #808080;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

#ndright {
    padding: 10px 15px;
    text-align: justify;
}

#ndcontent {
    padding: 10px 15px;
    text-align: justify;
}

    #ndcontent ul {
        margin: 20px 15px 20px 20px;
    }

        #ndcontent ul li a {
            color: #033b5f;
            text-decoration: none;
            margin: 10px 0;
            display: block;
        }

            #ndcontent ul li a :hover {
                color: #6f0322;
                font-weight: bold;
                text-decoration: none;
            }

#content h1, #right_content h1 {
    margin: 0;
    padding: 5px 10px;
    font-family: Verdana;
    font-size: 12px;
    background: black;
    color: yellow;
}

#footer {
    clear: both;
    background: black;
    width: 1000px;
    margin: 0 auto;
}

#ndfooter {
    color: #fff;
    padding: 15px;
}

